html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #3aa3a9;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* NAVIGATION */

nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 13px;
    box-sizing: border-box;
    background: #3aa3a9;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 20px;
    margin: 22px;
    color: #feffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #17252a;
}

/* LOGO */

.logo {
    height: 40px;
    width: 80px;
    padding-left: 30px;
}


.footer_logo {
    margin: 80px 0 20px 50px;
    height: 100px;
    width: 200px;
    float: left;
    grid-area: logo;
    text-align: center;
}

/* FOOTER */

.main_footer {
    width: 100%;
    display: block;
    padding: 25px 0 60px 10px;
    box-sizing: border-box;
    background-color: #17252a;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid #17252a;
}


.footer_content {
    display: grid;
    color: #3aa3a9;
    grid-template-columns: 33% auto 30%;
    grid-template-rows: 10% auto;
    grid-template-areas:
        "logo h_site_map h_social_media"
        "logo site_map social_media"
}

.footer_hr {
    border: solid 1px #feffff;
    width: 50%;
    float: left;
}

.footer_link {
    text-decoration: none;
    color: #3aa3a9;
}

.h_site_map {
    font-size: 22px;
    padding-bottom: 20px;
}

.h_social_media {
    font-size: 22px;
    padding-bottom: 20px;
}

.social_media {
    grid-area: social_media;
    text-align: left;
}

.site_map {
    grid-area: site_map;
}

/* HEADLINES */

h4 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-family: "Courier New", serif;
}



/* HOME PAGE */

.home-content {
    margin-top: 80px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-areas:
        "phone_1 desc_1"

}

.phone_1 {
    margin: 50px;
    width: 520px;
    height: 400px;
    border-radius: 8px;
}

.desc_1 {
    font-size: 25px;
    padding: 40px;
    margin: 50px;
    color: #17252a;
    text-align: center;
    font-family: Quicksand, serif;
}

/* ABOUT US */

.about-us-content {
    flex-grow: 1;
}

.about-us-header {
    padding: 30px;
    font-size: 30px;
}

.about-us-p {
    margin: 80px;
    line-height: 1.6;
    padding: 15px;
    border: 1px solid #17252a;
    border-radius: 8px;
    font-family: Quicksand, serif;
    text-align: center;
    font-size: 25px;
}

/* PHONE CHARACTERISTICS */

.phone-char-content {
    flex-grow: 1;
    margin:50px;
    line-height: 1.6;
    text-align: center;
}

.features {
    margin: 20px 50px;
    display:grid;
    grid-template-columns: 20% 35% 25% 20%;
    grid-template-areas:
            "template-1 features-1st-column features-2nd-column template-2";
}

.phone-char-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.features-1st-column{
    text-align:left;
}

.features-2nd-column{
     text-align:left;
 }

.features-1st-column .char-h4 {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 30px;
    font-family: "Courier New", serif;
}
.features-2nd-column .char-h4 {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 30px;
    font-family: "Courier New", serif;
}
/* SUPPORT PAGE */

.support-content {
    font-family: Quicksand, serif;
    margin:30px;
    flex-grow: 1;
    display: grid;
    justify-content: center;
    grid-template-rows: 20% 60% 10%;
    grid-template-areas:
        "heading problems another";
}

.support_heading {
    grid-area: heading;
    padding: 30px;
}

.imaginary_problems{
    grid-area: problems;
    line-height: 1.6;
    padding: 30px;
    font-size: 20px;
}

.another_issues {
    grid-area: another;
    padding: 30px;
    font-size: 16px;
}

/* ACCOUNT PAGE */

.account-content {
    flex-grow: 1;
    margin-top: 80px;
}
.profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}
.account-personal-info{
    margin: 80px;
    line-height: 1.6;
    padding: 15px;
    border: 1px solid #17252a;
    border-radius: 8px;
    font-family: Quicksand, serif;
    text-align: center;
    font-size: 25px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "login mail"
        "phone birth"
        "language country";
}

/* CART PAGE */

.cart-content {
    font-family: Quicksand, serif;
    margin-top: 80px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-areas:
        "cart-phone-photo phone-description-cart"
}

.cart-phone-photo {
    margin: 50px 0 50px 200px;
    width: 320px;
    height: 400px;
    border-radius: 8px;
}

.phone-description-cart {
    font-size: 25px;
    padding: 20px;
    margin: 30px;
    color: #17252a;
    text-align: center;
    font-family: Quicksand, serif;
}

.phone-name{
    text-align: center;
}

/* PHONE PRESENTATION PAGE */

.phone-presentation-content {
    flex-grow: 1;
    padding:80px;
    margin: 20px;
}

.phone-presentation-content video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.phone-presentation-content audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.presentation-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.phone-presentation-content p {
    margin: 80px;
    line-height: 1.6;
    padding: 15px;
    font-family: Quicksand, serif;
    text-align: center;
    font-size: 25px;
}
/* BUTTONS */

.button {
    background-color: #17252a;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: #3aa3a9;
    font-weight: bold;
}

.button a{
    text-decoration: none;
    color: #feffff;
}